# When registered with mdev, try to start any persistent devices. Note that
# this uevent is not triggered on older kernels.
ACTION=="change", ENV{MDEV_STATE}=="registered", TEST=="/etc/mdevctl.d/$kernel", RUN+="/bin/sh -c '/usr/sbin/mdevctl start-parent-mdevs %k'"

# For compatibility with kernels where mdev doesn't trigger the change uevent
# on parent device registration, try to start mdevs when the device is added;
# if the device is setup early this may still work.
ACTION=="add", TEST=="/etc/mdevctl.d/$kernel", RUN+="/bin/sh -c '/usr/sbin/mdevctl start-parent-mdevs %k'"
