[Unit]
Description=Mediated device /%I
DefaultDependencies=no
BindsTo=%i.device
Before=basic.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/mdevctl start-systemd-mdev %i
ExecStop=/usr/sbin/mdevctl stop-systemd-mdev %i
